{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}Hakkımda{% endblock %}


{% block content%} 

 

    <ul class="list-group mb-3">
      <li class="list-group-item">
        <a href="{% url 'siparislerim' %}">Siparişlerim</a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'adresler' %}">Adres Defteri</a>
      </li>
      {% if not request.user.is_authenticated%}
      <li class="list-group-item">
        <a href="{% url 'giris' %}">Giriş</a>
      </li>
      {% endif %}
      <li class="list-group-item">
        <a href="{% url 'sifre-degistir' %}">Şifre Değiştir</a>
      </li>
      <li class="list-group-item">
        <a href="">Profili Güncelle</a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'kayit' %}">Kayit Ol</a>
      </li>
      <li class="list-group-item">
        <a href="#">Profil</a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'cikis' %}">Çıkış Yap</a>
      </li>
     
    </ul>
{% endblock %}