{% extends 'base.html' %}

{% load static %}

{% block title %}Özet  {% endblock %}



{% block content%}





<br>

<h5 class="mb-2">Siparişi Onaylamak İstiyormusunuz ? </h5>

{% for urun in urunler %}
{{urun.urun.baslik}}<br>
{{urun.urun.price}} TL &nbsp; x    &nbsp; {{urun.quantity}} <br>

{% endfor %}

<h5 class="mt-2">Toplam Fiyat: {{toplam}}</h5>




<form action="{% url 'siparislerim' %}" method="post">
        {% csrf_token %}
        {% comment %}
    <a class="btn btn-danger" href="{% url 'siparislerim' %}">
        <strong> Onayla</strong>
     </a>
     {% endcomment %}
     <input type="submit" class="btn btn-success" value="Onayla">
     <a href="{% url 'sepet' %}" class="btn btn-danger">Sepete Geri Dön</a>
    </form>


{% endblock %}
