{% extends 'base.html' %}

{% load static %}

{% block title %}Sepet  {% endblock %}

{% block content  %}


<link href="{% static 'css/custom.css' %}" rel="stylesheet" />


Teslimat Adresi

Ödeme Aracı

Ürünleri ve teslimatı inceleme fiyat değicince sepetin yenilenmesi







{{ur_toplam}}

<table id="tablo" class="table" style="margin-bottom: 0;">
  {% if not  sepet.urun %}
  <thead>
    <tr>
      <th scope="col">Ürün</th>
      <th scope="col">Fiyat</th>
      <th scope="col">Adet</th>
      <th scope="col">Arttır/Azalt</th>
    </tr>
  </thead>
  {% endif %}
  <tbody style="margin-bottom:0 ;">
    {% for urunx in sepet %}
    <tr>
        <td scope="row" style="width: 70%;">{{ urunx.urun.baslik }}</td>
        <td>{{ urunx.urun.price }}</td>
        <td>{{ urunx.quantity }}</td>
        <td>
          <p>
            {% comment %}
            <a class= "btn" href="{% url 'sepet'  %}" style="size:1px" value="Go" onclick="qget()">
              <img src="{% static 'img/up.png'  %}" alt="lup" style="width:30px">
            </a>
            
            <a class= "btn" href="{% url 'sepet' %}" style="size:1px">
              <img src="{% static 'img/down.png'  %}" alt="lup" style="width:30px">
              <img src="{% static 'img/down.png'  %}" alt="lup" style="width:30px">
            </a>
            {{ urunx.urun.UrunSlug}}
            <a class= "btn btn-danger" href="{% url 'urun-sil' UrunSlug=urunx.urun.slug %}">Sil</a>
            <input type="button" value="Arttır" data-catid="{{forloop.counter}}"  class="ajaxTrigger"/>
            <input type="button" value="Azalt" data-catid="{{forloop.counter}}"  class="ajaxTrigger"/>
            {% endcomment %}
            
            <!-- ajax trigger  -->
            <button value="Arttır" data-catid="{{forloop.counter}}"  class="ajaxTrigger">
              <img  src="{% static 'img/up.png'  %}" alt="lup" style="width:30px">
            </button>
            <button value="Azalt" data-catid="{{forloop.counter}}"  class="ajaxTrigger">
              <img  src="{% static 'img/down.png'  %}" alt="lup" style="width:30px">
            </button>
            
            </p> 
        </td>
      </tr>
      
      {% comment %}
      <script>
        // (B) GET WITH AJAX
        function ajaxGETf () {
          // (B1) URL + DATA
          var data = new URLSearchParams();
          data.append("name", "John Doe");
          data.append("email", "john@doe.com");
          data.append("arttır", "{{urunx}}");
          data.append("urun", "{{urunx.urun.id}}");
          var url = "{% url 'sepet' %}?" + data.toString();
         
          // (B2) AJAX
          var xhr = new XMLHttpRequest();
          xhr.open("GET", url);
          xhr.onload = function () {
            console.log(this.response);
          };
          xhr.send();
          
          var rowIndex = 1;
          var cellIndex = 2;
          us = document.getElementById('tablo').rows[rowIndex].cells[cellIndex];
          deger = us.Text
          us.innerHTML = "";
        }
        
        
      </script>
        {% endcomment %}

        
        {% empty %}
        
        <div class= "alert alert-warning" role="alert">
          
          <p>Sepetiniz Boş</p>
          
        </div>
        
        
        {% endfor %}
        <script>
          $('.ajaxTrigger').click(function(){
            var catid;
            catid = $(this).attr("data-catid");
            console.log(catid);
            console.log($(this).val());
            if ($(this).val()=="Arttır")
            {
              res = "arttir";
            }
            else if ($(this).val()=="Azalt")
            {
              res = "azalt";
            }
            $.ajax(
            {
                type:"GET",
                url: "{% url 'sepet' %}",
                data:{
                  urun: catid,
                  updown: res,

                },
                success: function( data ) 
                {
                   // $( '#like'+ catid ).remove();
                    //$( '#message' ).text(data);
                    if(!data["valid"]){
                     //  <!-- alert("You cannot create a friend with same nick name"); -->
                      var nickName = $("#id_nick_name");
                      nickName.val("");
                      nickName.focus();
                    }
                    if(data["valid"])
                    {
                      //alert("valid");
                      console.log(data);
                      console.log("----");
                      console.log(data["toplam"]);
                    }
                    tbl = document.getElementById("tablo");
                    var rows = $('tr', tbl);
                    console.log(rows.eq(catid));
                    deg = rows.eq(catid).eq(0);
                    deg = deg.find("td").eq(2);
                    
                    deg.html(data["adet"]);
                    deg.focus();


                    // toplam
                    var toplam = $(".toplam");
                    vartop = data["toplam"]
                    vartop = vartop.toLocaleString('en-US');
                    console.log(vartop);
                    toplam.html('Toplam: ' + vartop);
              },
              error: function (data) {
                  console.log(data);
              }
             })
        });

        </script>
     
    </tbody>
  </table>
  <strong class="mt-0 pt-0" >
    <span class="toplam"> Toplam: {{tum_fiyat|floatformat:2}}</span></strong>

 

<br>
<br>

{% if not sepet.urun %}
<div class="float-left">
  <div class="w-1 btn btn-success float-right  ml-1">
    <a class="btnn btn-success" href="{% url 'onayla' %}">
       <strong> Onayla</strong>
    </a>
  </div>
  <div class="w-1 btn btn-danger ">
    <a class="btnn btn-danger" href="{% url 'hepsini-sil' %}">
    <strong> Hepsini Sil
    </strong>
  </a>
  
</div>
<br>

{% endif %}
</div>
<br>
<br>

{% if messages %}
  
        {% for message in messages %}
        
        <div {% if message.tags %} class="{{ message.tags }}ml-0"{% endif %}>
          <div class= "alert alert-danger ml-0" role="alert">

            <p>{{ message }}</p>
            
          </div>
          
        
        </div>
        {% endfor %}


    {% endif %}

{% endblock %}